header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(
        135deg,
        var(--primary-color) 0%,
        var(--primary-dark) 100%
    );

    color: var(--cor-branco);
    padding: 20px;
    margin-top: 60px;
    width: 100%;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
}

/* Imagem da logo */
img[alt="logo gestor de rifas"] {
    max-width: 150px;
    width: 100%;
    height: auto;
}

/* Ícone da conta */
.icone-conta {
    display: flex;
    align-items: center;
}

#abrir-modal-conta {
    cursor: pointer;
    font-size: 1.4rem;
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    img[alt="logo gestor de rifas"] {
        max-width: 120px;
    }

    #abrir-modal-conta {
        font-size: 1.2rem;
    }
}

