/* reset.css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {


  flex-direction: column;
  font-family: Arial, sans-serif;
}
main{
  padding: 1.0rem;
}





a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  cursor: pointer;
}
