@import url('colors.css');
@import url('grade-rifas.css');
@import url('modal-criar-rifa.css');
@import url('css-footer.css');
@import url('modal-conta.css');
@import url('assinatura.css');
@import url('cookie-consent.css');
@import url('card-rifas.css');
@import url('navbar.css');
@import url('css-header.css');
@import url('navejacao-ststus.css');
@import url('recorte-img-premio.css');